.about-text {
    font-size: 1em;
    line-height: 1.3em;
    margin: 2em 2.5em;
}

.exper-title {
    font-size: 1.05em;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text{
    font-size: 1em;
    color: #282828;
    float: right;
}

@media (max-width: 1199px) {
    .about-text {
        font-size: 0.9em;
        line-height: 1.3em;
        margin: 2em 2.5em;
    }

    .subtitle {
        font-size: 1.6em;
    }

    .exper-title {
        font-size: 1em;
    }
    
    .year-text{
        font-size: 0.9em;
    }
}

@media (max-width: 991px) {
    .about-text {
        font-size: 0.9em;
        line-height: 1.3em;
        margin: 1.5em 1.8em;
    }

    .subtitle {
        font-size: 1.6em;
    }

    .exper-title {
        font-size: 1em;
    }
    
    .year-text{
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    .about-text {
        font-size: 0.7em;
        line-height: 1.3em;
        margin: 1em 1.3em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .exper-title {
        font-size: 0.7em;
    }
    
    .year-text{
        font-size: 0.7em;
    }
}

@media (max-width: 576px) {
    .about-text {
        font-size: 0.5em;
        line-height: 1.3em;
        margin: 0.3em 0.4em;
    }

    .subtitle {
        font-size: 1.5em;
        padding-bottom: 0.3em;
        margin-bottom: 0.3em;
    }

    .exper-title {
        font-size: 0.5em;
    }
    
    .year-text{
        font-size: 0.45em;
    }
}