@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KoPubDotumMedium';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 0.8em;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 0.4em;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h6  {
    font-size: 10px;
}

section {
    margin-bottom: 2em;
}

a {
    text-decoration : none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

a:hover {
    color: #7c7c7c;
    text-decoration: underline;
}

.float-wrap {
    overflow: hidden;
}