.title-box {
    text-align: left;
    margin: 1.8em;
}

.title-box td {
    padding: 0.6em;
}

.title-box table {
    margin-left: auto; 
    margin-right: auto;
}

.name {
    font-size: 1.8em;
    font-weight: bold;
}

.contect {
    font-size: 1.05em;
    text-align: left;
    color: 	#2E2E2E;
    font-weight: lighter;
    line-height: 1.8em;
}

.title-box a {
    text-decoration : none;
}

.title-box a:link {
    color: #2E2E2E;
    text-decoration: none;
}

.title-box a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

.title-box a:hover {
    color: #7c7c7c;
    text-decoration : none;
}

.title-img {
    width: 12em;
}

.name-text {
    font-size: 1.2em;
    color:#7c7c7c;
    margin: 0.6em;
}

.sns-img {
    width: 1em;
    display: block;
}

@media (max-width: 1199px) {
    .name {
        font-size: 1.7em;
    }

    .title-box {
        margin: 1.5em;
    }

    .name-text {
        font-size: 1.2em;
    }

    .contect {
        line-height: 1.7em;
        font-size: 0.9em;
    }
    
    .title-img {
        width: 11em;
    }    
}

@media (max-width: 991px) {
    .name {
        font-size: 1.5em;
    }

    .name-text {
        font-size: 1em;
    }

    .contect {
        line-height: 1.7em;
        font-size: 0.95em;
    }

    .title-img {
        width: 11em;
    }    
}

@media (max-width: 767px) {
    .title-box {
        margin: 1em;
    }

    .name {
        font-size: 1.3em;
    }

    .name-text {
        font-size: 0.95em;
    }

    .contect {
        line-height: 1.6em;
        font-size: 0.85em;
    }

    .title-img {
        width: 10em;
    }    
}

@media (max-width: 576px) {
    .title-box {
        margin: 0.4em;
    }
    
    .name {
        font-size: 1.2em;
    }

    .name-text {
        font-size: 0.7em;
    }

    .contect {
        line-height: 2.2em;
        font-size: 0.4em;
    }

    .title-img {
        width: 7em;
    }    
}