.title-box {
    text-align: left;
    margin: 2em;
}

.title-box td {
    padding: 0.4em;
}

.name {
    font-size: 1.8em;
    font-weight: bold;
}

.contect {
    text-align: left;
    color: 	#2E2E2E;
    font-weight: lighter;
    line-height: 1.8em;
}

.title-box a {
    text-decoration : none;
}

.title-box a:link {
    color: #2E2E2E;
    text-decoration: none;
}

.title-box a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

.title-box a:hover {
    color: #7c7c7c;
    text-decoration : none;
}

.title-img {
    width: 95%;
}

.name-text {
    font-size: 1.2em;
    color:#7c7c7c;
    margin: 0.6em;
}

.sns-img {
    width: 1em;
    display: block;
}